.header {
    background-color: #1F2937;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

li {
    gap: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}