body {
    margin: 0px;
}

.header {
    background-color: #1F2937;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right-links {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 100px;
    padding-left: 220px;
    padding-bottom: 100px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

.subtext {
    font-size: 18px;
}

button {
    padding: 8px 16px;
    border-radius: 8px;
}

button.sign-up {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

img {
    height: 250px;
    width: 500px;
}

.img {
    float: right;
    padding-right: 500px;
}
